{% extends "base_generic.html" %}
<head>
    <title>Library</title>
</head>
{% block content %}
  <form action="" method="POST">{% csrf_token %}
  <label for="title">Title</label>
  <input type="text" name="title"><br>
  Content<br>
  <textarea cols="35" rows="8" name="content">
  </textarea><br>
  <input type="submit" value="Post">
  </form>

    {% if alltitles %}
        <table border="1">

               {% for title in alltitles %}
            <tr>

                <td>{{ Post.title }}</td>
                <td>{{ Post.content }}</td>

            </tr>
                   {% endfor %}
        </table>
    {% endif %}
{% endblock %}